/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
header .align-right {
  display: inline-block;
  width: 100%;
  text-align: right;
}
#countview footer {
  display: none;
  margin: 0 -20px -20px -20px;
  overflow: hidden;
  color: #555555;
  background: #f4fce8;
  border-top: 1px solid #ededed;
  padding: 0 20px;
  line-height: 37px;
}
#countview #main {
  display: none;
}
#countview #main #count-list {
  margin: 10px 0;
  padding: 0;
  list-style: none;
}
#countview #main #count-list .count_type {
  width: 150px;
}
#countview #main #count-list li {
  position: relative;
}
#countview #main #count-list li:last-child {
  border-bottom: none;
}
#countview #main #count-list li:hover {
  background: #eee;
}
#countview #main #count-list li:hover .destroy,
#countview #main #count-list li:hover .change,
#countview #main #count-list li:hover .apply {
  display: block;
}
#countview #main #count-list li .view .count_type {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 9px / normal serif #ffffff;
  -o-text-overflow: clip;
  text-overflow: clip;
  width: 150px;
  text-align: center;
}
#countview #main #count-list li .view:hover p {
  display: block;
}
#countview #main #count-list li .view span {
  float: left;
  margin: 0 15px 0 0;
}
#countview #main #count-list li .view h4 {
  font: bold 15px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
#countview #main #count-list li .view p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
  margin: 0;
  padding: 0;
  display: inline;
  vertical-align: top;
}
#countview #main #count-list li .edit {
  display: none;
}
#countview #main #count-list .change {
  position: absolute;
  right: 25px;
  display: none;
  cursor: pointer;
  top: 0px;
  width: 20px;
  height: 20px;
}
#countview #main #count-list .change:hover {
  background-position: 0 -20px;
}
#countview #main #count-list .apply {
  position: absolute;
  right: 5px;
  display: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  top: 0px;
}
#countview #main #count-list .apply:hover {
  background-position: 0 -20px;
  color: #008000;
}
#countview #main #count-list .destroy {
  position: absolute;
  right: 5px;
  display: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  top: 0px;
}
#countview #main #count-list .destroy:hover {
  background-position: 0 -20px;
  color: #ff0000;
}
#countview #main #count-list li.editing {
  border: 1px solid black;
  padding: 5px;
}
#countview #main #count-list li.editing:last-child {
  margin-bottom: -1px;
}
#countview #main #count-list li.editing .edit {
  display: block;
}
#countview #main #count-list li.editing .view {
  display: none;
}
#countview #counts-count span {
  font-weight: bold;
}
.count_type {
  display: block;
  padding: 3px;
  border-radius: 3px;
  font: normal 9px / normal serif #ffffff;
  text-overflow: ellipsis;
  text-align: center;
}
.count_type.type_0 {
  background: #298048;
}
.count_type.type_0:before {
  content: "Essenziali";
  color: #ffffff;
}
.count_type.type_1 {
  background: #add8e6;
}
.count_type.type_1:before {
  content: "Servizi optional";
  color: #ffffff;
}
.count_type.type_2 {
  background: #ffa500;
}
.count_type.type_2:before {
  content: "Hobbies e tempo libero";
  color: #ffffff;
}
.count_type.type_3 {
  background: #ff0000;
}
.count_type.type_3:before {
  content: "Imprevisti extra";
  color: #ffffff;
}
.count_type.type_4 {
  background: #008000;
}
.count_type.type_4:before {
  content: "Entrate";
  color: #ffffff;
}
.count_type.type_5 {
  background: #0000ff;
}
.count_type.type_5:before {
  content: "Uscite fisse";
  color: #ffffff;
}
.hmc_stats li {
  display: inline-block;
}
.hmc_stats li canvas {
  max-width: 200px;
}
.enMoney::before {
  content: "€ ";
}
/* The Modal (background) */
/* Modal Content */
/* Add Animation */
/* The Close Button */
.hmc-modal {
  display: none;
  position: fixed;
  z-index: 9991;
  padding-top: 46px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.4);
}
@media (max-width: 500px) {
  .hmc-modal {
    padding-top: 46px;
  }
}
.hmc-modal .hmc-modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  max-height: 70%;
  overflow: auto;
}
@media (max-width: 500px) {
  .hmc-modal .hmc-modal-content {
    width: 100%;
    height: 100%;
  }
}
.hmc-modal .hmc-modal-content .hmc-modal-header {
  padding: 2px 16px;
}
.hmc-modal .hmc-modal-content .hmc-modal-body {
  padding: 2px 16px;
}
.hmc-modal .hmc-modal-content .hmc-modal-footer {
  border-top: 1px dotted #888888;
  text-align: right;
  padding: 10px 16px;
}
button.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
button.accordion.active,
button.accordion:hover {
  background-color: #ddd;
}
.count_accordion div.panel {
  padding: 10px 18px;
  display: none;
  background-color: white;
  border: 1px solid #eeeeee;
}
.count_accordion div.panel label {
  padding: 5px;
  display: block;
}
.count_accordion div.panel.show {
  display: block;
}
