/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
#countview header .align-right {
  display: inline-block;
  width: 100%;
  text-align: right;
}
#countview footer {
  display: none;
  margin: 0 -20px -20px -20px;
  overflow: hidden;
  color: #555555;
  background: #f4fce8;
  border-top: 1px solid #ededed;
  padding: 0 20px;
  line-height: 37px;
}
#countview #main {
  display: none;
}
#countview #main #count-list {
  margin: 10px 0;
  padding: 0;
  list-style: none;
}
#countview #main #count-list .count_type {
  width: 150px;
}
#countview #main #count-list li {
  position: relative;
}
#countview #main #count-list li:last-child {
  border-bottom: none;
}
#countview #main #count-list li:hover {
  background: #eee;
}
#countview #main #count-list li:hover .destroy,
#countview #main #count-list li:hover .change,
#countview #main #count-list li:hover .apply {
  display: block;
}
#countview #main #count-list li .view .count_type {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 9px / normal serif #fff;
  -o-text-overflow: clip;
  text-overflow: clip;
  width: 150px;
  text-align: center;
}
#countview #main #count-list li .view:hover p {
  display: block;
}
#countview #main #count-list li .view span {
  float: left;
  margin: 0 15px 0 0;
}
#countview #main #count-list li .view h4 {
  font: bold 15px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
#countview #main #count-list li .view p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
  margin: 0;
  padding: 0;
  display: inline;
  vertical-align: top;
}
#countview #main #count-list li .edit {
  display: none;
}
#countview #main #count-list .change {
  position: absolute;
  right: 25px;
  display: none;
  cursor: pointer;
  top: 0px;
  width: 20px;
  height: 20px;
}
#countview #main #count-list .change:hover {
  background-position: 0 -20px;
}
#countview #main #count-list .apply {
  position: absolute;
  right: 5px;
  display: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  top: 0px;
}
#countview #main #count-list .apply:hover {
  background-position: 0 -20px;
  color: green;
}
#countview #main #count-list .destroy {
  position: absolute;
  right: 5px;
  display: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  top: 0px;
}
#countview #main #count-list .destroy:hover {
  background-position: 0 -20px;
  color: red;
}
#countview #main #count-list li.editing {
  border: 1px solid black;
  padding: 5px;
}
#countview #main #count-list li.editing:last-child {
  margin-bottom: -1px;
}
#countview #main #count-list li.editing .edit {
  display: block;
}
#countview #main #count-list li.editing .view {
  display: none;
}
#countview #counts-count span {
  font-weight: bold;
}
.count_type {
  display: inline-block;
  box-sizing: content-box;
  padding: 3px;
  border-radius: 3px;
  font: normal 9px / normal serif #fff;
  text-overflow: ellipsis !important;
  text-align: center;
}
.count_type.type_0 {
  background: green;
}
.count_type.type_0:before {
  content: "Essenziale";
  color: #fff;
}
.count_type.type_1 {
  background: lightblue;
}
.count_type.type_1:before {
  content: "Servizi optional";
  color: #fff;
}
.count_type.type_2 {
  background: red;
}
.count_type.type_2:before {
  content: "Hobbies e tempo libero";
  color: #fff;
}
.count_type.type_3 {
  background: orange;
}
.count_type.type_3:before {
  content: "Imprevisti extra";
  color: #fff;
}
.count_type.type_4 {
  background: blue;
}
.count_type.type_4:before {
  content: "Entrate";
  color: #fff;
}
.count_type.type_5 {
  background: green;
}
.count_type.type_5:before {
  content: "Uscite fisse";
  color: #fff;
}
